body {
    margin: 0;
    font-family: 'Georgia', serif;
    background: linear-gradient(to top, #c7d8e3, #ffafbd);
    color: #4a4a4a;
    overflow-y: auto;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    border: 5px solid rgba(255, 182, 193, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #ff6f61;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
}

p {
    font-size: 1.2em;
    line-height: 1.8;
    opacity: 0.9;
    margin: 10px 0;
    transition: transform 0.3s, color 0.3s;
    background: rgba(255, 182, 193, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.floating-images-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.floating-image {
    position: absolute;
    width: 150px;
    height: auto;
    object-fit: cover;
    opacity: 0.8;
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, opacity 0.3s;
}

.floating-image:hover {
    transform: scale(1.1);
    opacity: 1;
}

.proposal-options {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.proposal-options button {
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff6f61;
    color: white;
    border: none;
}

.proposal-options button:hover {
    background-color: #ffafbd;
}

.hidden {
    display: none;
}

.message-box {
    display: inline-block;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    margin-top: 20px;
    text-align: center;
}

.yes-no-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.yes-page img, .no-page img {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: transform 0.3s;
    border: 5px solid white;
}

.yes-page img:hover, .no-page img:hover {
    transform: scale(1.1);
}
